<div class="container-fluid">
<div class="row">
        <h1>Experiencias Laborales</h1>
    <div class="col-10" id="items">
        <ul>
            <li>
                <h2>Trabajo1</h2>
                <h3>Año</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Sapiente et, in omnis, dolorum ipsa quibusdam nam tempora 
                    ad tenetur quod delectus sint animi provident, ea molestiae 
                    neque eum quos sed!
                </p>
            </li>
            <li>
                <h2>Trabajo2</h2>
                <h3>Año</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Sapiente et, in omnis, dolorum ipsa quibusdam nam tempora 
                    ad tenetur quod delectus sint animi provident, ea molestiae 
                    neque eum quos sed!
                </p>
            </li>
            <li>
                <h2>Trabajo3</h2>
                <h3>Año</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Sapiente et, in omnis, dolorum ipsa quibusdam nam tempora 
                    ad tenetur quod delectus sint animi provident, ea molestiae 
                    neque eum quos sed!
                </p>
            </li>
        </ul>  

    </div>

</div>
</div>