<div class="container-fluid">
    <div class="row">
        <div class="col-auto" id="perfil">
            <img src="../../../assets/NatySapo1.png" class="image-fluid" alt="">
        </div>
        <div  class="col-xxs-12 col-sm-12 col-md-4 col-lg-6 col-xl-8">
            <h1>Natalia A. Vizcarra Savino</h1>
            <h3 >FullStack Jr. Developer</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nostrum error, 
                molestias itaque delectus, inventore voluptas quos culpa similique omnis vitae illum 
                sit temporibus iste blanditiis sed vel, laudantium soluta?
            </p>
        </div>   
    </div>

</div>

