<div class="container">
    <div class="row">
        <div>
            <form (submit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proy.nombreP" required="">
                </div>
                <div class="form-group">
                    <label for="img">Coloca una imagen del Proyecto</label>
                    <input type="file" class="form-control" id="img" name="img" [(ngModel)]="proy.img">
                </div>
                <div class="form-group">
                    <label for="yearE">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="proy.descripcionP">
                <button class="btn btn-success">Agregar</button>
                </div>
            </form>
        
        </div>
    </div>
</div>