h1{
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

#carouselExampleCaptions{
    margin-left: .5em;
    padding: .5em;
    margin-right: .5em;
    margin-top: .5em;
}
.carousel-control-next{
    margin-bottom: 10em;
}

svg{
    float: right;
    width: 3em;
    margin: .5em;
    fill: whitesmoke;
    cursor: pointer;
}

p{
    font-family:'Courier New', Courier, monospace;
}

h5{
    color: white;
}