 <div class="row">
            <h1>Mis Habilidades</h1>
            <h2>Hard & Soft Skills</h2>   
            <div class="text-center col-sm-12 col-md-4 col-lg-4 col-xl-4">    
                <circle-progress
                           [percent]="80"
                           [radius]="100"
                           [imageSrc]= "'../../assets/html.png'"
                           [showImage]="true"
                           [imageHeight]="80"
                           [imageWidth]="80"
                           [showUnits]="false"
                           [showTitle]="false"
                           [showSubtitle]="false"
                           [backgroundColor]="'#90FF32'"
                           [backgroundGradient]="true"
                           [backgroundOpacity]="0.5"
                           [outerStrokeWidth]="16"
                           [innerStrokeWidth]="8"
                           [outerStrokeColor]="'#FF7832'"
                           [outerStrokeGradient]="true"
                           [outerStrokeGradientStopColor]="'#00496F'"
                           [innerStrokeColor]="'#FFFFFF'"
                           [animation]="true"
                           [animationDuration]="900"
                           [renderOnClick]="false">
                </circle-progress>
            </div>
           <div class="text-center col-sm-12 col-md-4 col-lg-4 col-xl-4"> 
                <circle-progress
                           [percent]="80"
                           [radius]="100"
                           [imageSrc]= "'../../assets/CSS.png'"
                           [showImage]="true"
                           [imageHeight]="100"
                           [imageWidth]="100"
                           [showUnits]="false"
                           [showTitle]="false"
                           [showSubtitle]="false"
                           [backgroundColor]="'#90FF32'"
                           [backgroundGradient]="true"
                           [backgroundOpacity]="0.5"
                           [outerStrokeWidth]="16"
                           [innerStrokeWidth]="8"
                           [outerStrokeColor]="'#FF7832'"
                           [outerStrokeGradient]="true"
                           [outerStrokeGradientStopColor]="'#00496F'"
                           [innerStrokeColor]="'#FFFFFF'"
                           [animation]="true"
                           [animationDuration]="900"
                           [renderOnClick]="false">
                </circle-progress>
           </div>
           <div class="text-center col-sm-12 col-md-4 col-lg-4 col-xl-4"> 
                <circle-progress
                       [percent]="80"
                       [radius]="100"
                       [imageSrc]= "'../../assets/js.png'"
                       [showImage]="true"
                       [imageHeight]="100"
                       [imageWidth]="100"
                       [showUnits]="false"
                       [showTitle]="false"
                       [showSubtitle]="false"
                       [backgroundColor]="'#90FF32'"
                       [backgroundGradient]="true"
                       [backgroundOpacity]="0.5"
                       [outerStrokeWidth]="16"
                       [innerStrokeWidth]="8"
                       [outerStrokeColor]="'#FF7832'"
                       [outerStrokeGradient]="true"
                       [outerStrokeGradientStopColor]="'#00496F'"
                       [innerStrokeColor]="'#FFFFFF'"
                       [animation]="true"
                       [animationDuration]="900"
                       [renderOnClick]="false">
                </circle-progress>
           </div>
           <div class="text-center col-sm-12 col-md-4 col-lg-4 col-xl-4"> 
                <circle-progress
                       [percent]="80"
                       [radius]="100"
                       [imageSrc]= "'../../assets/Angular.png'"
                       [showImage]="true"
                       [imageHeight]="100"
                       [imageWidth]="100"
                       [showUnits]="false"
                       [showTitle]="false"
                       [showSubtitle]="false"
                       [backgroundColor]="'#90FF32'"
                       [backgroundGradient]="true"
                       [backgroundOpacity]="0.5"
                       [outerStrokeWidth]="16"
                       [innerStrokeWidth]="8"
                       [outerStrokeColor]="'#FF7832'"
                       [outerStrokeGradient]="true"
                       [outerStrokeGradientStopColor]="'#00496F'"
                       [innerStrokeColor]="'#FFFFFF'"
                       [animation]="true"
                       [animationDuration]="900"
                       [renderOnClick]="false"
                       class="cir">
                </circle-progress>
           </div>
           <div class="text-center col-sm-12 col-md-4 col-lg-4 col-xl-4"> 
                <circle-progress
                       [percent]="80"
                       [radius]="100"
                       [imageSrc]= "''"
                       [showImage]="true"
                       [imageHeight]="100"
                       [imageWidth]="100"
                       [showUnits]="false"
                       [showTitle]="false"
                       [showSubtitle]="false"
                       [backgroundColor]="'#90FF32'"
                       [backgroundGradient]="true"
                       [backgroundOpacity]="0.5"
                       [outerStrokeWidth]="16"
                       [innerStrokeWidth]="8"
                       [outerStrokeColor]="'#FF7832'"
                       [outerStrokeGradient]="true"
                       [outerStrokeGradientStopColor]="'#00496F'"
                       [innerStrokeColor]="'#FFFFFF'"
                       [animation]="true"
                       [animationDuration]="900"
                       [renderOnClick]="false">
                </circle-progress>
           </div>
           <div class="text-center col-sm-12 col-md-4 col-lg-4 col-xl-4"> 
                <circle-progress
                   [percent]="80"
                   [radius]="100"
                   [imageSrc]= "''"
                   [showImage]="true"
                   [imageHeight]="100"
                   [imageWidth]="100"
                   [showUnits]="false"
                   [showTitle]="false"
                   [showSubtitle]="false"
                   [backgroundColor]="'#90FF32'"
                   [backgroundGradient]="true"
                   [backgroundOpacity]="0.5"
                   [outerStrokeWidth]="16"
                   [innerStrokeWidth]="8"
                   [outerStrokeColor]="'#FF7832'"
                   [outerStrokeGradient]="true"
                   [outerStrokeGradientStopColor]="'#00496F'"
                   [innerStrokeColor]="'#FFFFFF'"
                   [animation]="true"
                   [animationDuration]="900"
                   [renderOnClick]="false">
                </circle-progress>
           </div>
        </div>