svg{
    width: 2em;
    fill: white;
    margin-right: 1em;
    margin-top: 1.5em;
}



body{
    float: right;
}

@media(min-width:499.5px){
    #menu-pequeño{
        display: none;
    }
}

@media(max-width:500px){
    #menu-pequeño{
        display: flex;
        height: 1em;
        width: 1em;
        color: whitesmoke;
    }
    svg{
        width: 3em;
        fill: olivedrab;
        margin-right: 1em;
        margin-top: 1.5em;
    }
    .list{
        width: 2em;
        fill: whitesmoke;
        margin-right: 0em;
        margin-top: .2em;
    }

}

@media(max-width:500px){
    #menu-completo{
        display: none;
    }
}